//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

$red:#d0021b;
$yellow:#f5a623;
$blue:#4a90e2;
$green:#7ed321;
$grayL1:#f2f2f2;
$grayL2:#e1e1e1;
$grayL3:#c8c8c8;
$grayL4:#757575;
$white:#FFFFFF;
$black:#000000;
@mixin title {
  font-weight: bold;
  font-size: 24px;
}

@mixin subtitle {
  font-weight: bold;
  font-size: 20px;
}

@mixin subtitle2 {
  font-size: 14px;
}

@mixin table-information {
  font-size: 14px;
}

@mixin remark {
  font-size: 16px;
}

@mixin placegolder {
  font-size: 16px
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

nav {
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: $black;
  div {
    // width: 1024px;
    height: 100%;
    margin: 0 auto;
    a {
      color: #9b9b9b;
      display: inline-block;
      padding-right: 30px;
      padding-left: 30px;
      text-align: center;
      height: 100%;
      line-height: 70px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      &.active {
        color: $white;
        border-bottom: 4px solid $white;
      }
      &.nav-band {
        @include title;
        color: $white;
      }
    }
  }
}
p-card {
  text-align: center;
}

i {
  &.fa-arrow-up {
    color: $red
  }
  &.fa-arrow-down {
    color: $green;
  }
}

.layout {
  padding: 10px 26px;
}

.rate {
  padding-left: 10px;
}

.rate-up {
  color: $red;
}

.rate-down {
  color: $green;
}

.ui-card-header {
  @include title;
  text-align: left;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

// 流量來源
.data-source {
  .source-item {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ebebeb;
    height: 113px;
    line-height: 50px;
    &:last-child {
      border: 0px
    }
    .url {
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 500;
    }
    .quality {
      color: $black;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

// 最新訂單
.latest-order {
  .order-item {
    padding-left: 40px;
    padding-right: 40px;
    >div {
      display: inline-block;
      &.pic {
        min-width: 110px;
        width: 20%;
        span {
          display: inline-block;
          height: 100px;
          width: 100px;
          background-image: url('https://p2.bahamut.com.tw/B/ACG/c/83/0000065483.PNG');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      &.content{
        width: 80%;
        .title{
          @include subtitle()
        }
        .date{
          color: #9b9b9b;
        }
        .name{
          color: #9b9b9b;
        }
      }
    }
  }
}
