<div class="ui-g">總攬</div>
<div class="ui-g">
  <div class="ui-g-4">
    <p-card>
      <p-header>
        總收入
      </p-header>
      Body Content
    </p-card>
  </div>
  <div class="ui-g-4">
    <p-card>
      <p-header>
        總支出
      </p-header>
      Body Content
    </p-card>
  </div>
  <div class="ui-g-4">
    <p-card>
      <p-header>
        網路銷售額
      </p-header>
      Body Content
    </p-card>
  </div>
</div>
<div class="ui-g">
  <p-chart type="line" [data]="data" width="95vw" height="80vh"></p-chart>
</div>
<div class="ui-g">
  <div class="ui-g-6">
    <p-card styleClass="data-source">
      <p-header>
        流量來源
      </p-header>
      <div class="ui-g source-item" *ngFor="let web of websiteData">
        <div class="ui-g-2 icon">
          <i class="fa fa-3x fa-{{web.icon}}" aria-hidden="true"></i>
        </div>
        <div class="ui-g-4 url">
          {{web.url}}
        </div>
        <div class="ui-g-3 quality">
          {{web.quality}}
        </div>
        <div class="ui-g-3 rate">
            <i *ngIf="web.rate>0" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="web.rate<0" class="fa fa-arrow-down" aria-hidden="true"></i>
          <span class="rate" [ngClass]="{'rate-up': web.rate>0,'rate-down':web.rate<0}">
            {{processRate(web.rate)}}
          </span>
        </div>
      </div>
    </p-card>
  </div>
  <div class="ui-g-6">
    <p-card styleClass="latest-order">
      <p-header>
        最新訂單
      </p-header>
      <div class="order-item" *ngFor="let order of latestOrders">
        <div class="pic">
          <span></span>
        </div>
        <div class="content">
          <div class="title">{{order.title}}</div>
          <div class="date">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{order.time | date:'yyyy/MM/dd HH:MM'}}
          </div>
          <div class="name">
            <i class="fa fa-male" aria-hidden="true"></i>
            {{order.name}}
          </div>
          <div class="total">
            <div>總計</div>
            <div>{{order.total}}</div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
